node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
eggs/
*.egg-info/
*.egg
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
instance/
.webassets-cache
.env
.venv
env/
venv/
ENV/
.pythonlibs/
